[submodule "modules/gushiwen"]
	path = modules/gushiwen
	url = https://github.com/yht050511/gushiwen.git
[submodule "modules/chinese_ancient_poetry"]
	path = modules/chinese_ancient_poetry
	url = https://github.com/JoshuaCH/chinese_ancient_poetry.git
[submodule "modules/chinese-gushiwen"]
	path = modules/chinese-gushiwen
	url = https://github.com/caoxingyu/chinese-gushiwen.git
[submodule "modules/chinese-poetry"]
	path = modules/chinese-poetry
	url = https://github.com/chinese-poetry/chinese-poetry.git
[submodule "modules/hanzi-writer-data"]
	path = modules/hanzi-writer-data
	url = https://github.com/chanind/hanzi-writer-data.git
[submodule "modules/makemeahanzi"]
	path = modules/makemeahanzi
	url = https://github.com/skishore/makemeahanzi.git
[submodule "modules/chinese-dictionary"]
	path = modules/chinese-dictionary
	url = https://github.com/mapull/chinese-dictionary.git
[submodule "modules/chinese-xinhua"]
	path = modules/chinese-xinhua
	url = https://github.com/pwxcoo/chinese-xinhua.git
[submodule "modules/ChineseLyrics"]
	path = modules/ChineseLyrics
	url = https://github.com/dengxiuqi/ChineseLyrics.git
[submodule "modules/deep-learning-for-image-processing"]
	path = modules/deep-learning-for-image-processing
	url = https://github.com/WZMIAOMIAO/deep-learning-for-image-processing.git
[submodule "modules/AndroidReverseStudy"]
	path = modules/AndroidReverseStudy
	url = https://github.com/heyhu/AndroidReverseStudy.git
[submodule "modules/XYplorer_Help"]
	path = modules/XYplorer_Help
	url = https://github.com/violet7pan/XYplorer_Help
[submodule "modules/Advanced-SQL-Injection-Cheatsheet"]
	path = modules/Advanced-SQL-Injection-Cheatsheet
	url = https://github.com/kleiton0x00/Advanced-SQL-Injection-Cheatsheet
[submodule "modules/frida-all-in-one"]
	path = modules/frida-all-in-one
	url = https://github.com/hookmaster/frida-all-in-one
[submodule "modules/Micro8"]
	path = modules/Micro8
	url = https://github.com/Micropoor/Micro8
[submodule "modules/mybackup-IT"]
	path = modules/mybackup-IT
	url = https://github.com/cxapython/mybackup-IT
[submodule "modules/H5-Animation"]
	path = modules/H5-Animation
	url = https://github.com/supperjet/H5-Animation
[submodule "modules/zshguide"]
	path = modules/zshguide
	url = https://github.com/goreliu/zshguide
[submodule "modules/DictionaryByGPT4"]
	path = modules/DictionaryByGPT4
	url = https://github.com/Ceelog/DictionaryByGPT4
[submodule "modules/ChinaTextbook"]
	path = modules/ChinaTextbook
	url = https://github.com/TapXWorld/ChinaTextbook
